@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oleo Script";
  src: url("/fonts/OleoScript-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  /* background-color: #f8fafc; */
  background-image: url("/images/Waves Seamless Art Wallpaper iPhone-white.jpg");
  /* background-color: #202020; */
}
/* CSS */

.fc-event {
  flex: flexbox;
  font-size: 112x;
  cursor: pointer;
}
.event-title {
  white-space: normal; /* Allow text to wrap */
}

.contact__tube-spinner {
  height: 50px;
  width: 50px;
}

.contact__error-message {
  color: red;
}

button:hover {
  transition-property: background-color;
  transition-duration: 200ms;
  background-color: #f0f4f8; /* Adjust the color as needed */
}

@layer utilities {
  .font-thin {
    font-weight: 100;
  }

  .font-light {
    font-weight: 300;
  }

  .font-normal {
    font-weight: 400;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-semibold {
    font-weight: 600;
  }

  .font-bold {
    font-weight: 700;
  }

  .font-extrabold {
    font-weight: 800;
  }

  .font-black {
    font-weight: 900;
  }
}
